<p style="color: green"><%= notice %></p>

<% content_for :title, "Articles" %>

<h1>Articles</h1>

<div id="articles">
  <% @articles.each do |article| %>
    <%= render article %>
    <p>
      <%= link_to "Show this article", article %>
    </p>
  <% end %>
</div>

<%= link_to "New article", new_article_path %>

<%= cl_image_tag("https://res.cloudinary.com/dlpegcnrv/image/upload/v1772053862/q6gcxjtkdsoxynd0ozbv.jpg",
      width: 400, height: 300, crop: :fill) %>
